/* RESET */

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

/* COMMON */

i {
    color: white;
}

.wrapper span {
    color: white;
}

body {
    font-family: sans-serif;
}

.wrapper {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100%;
    height: 100vh;
    background-color: black;
}

.action-icon {
    font-size: 2rem;
    margin-bottom: .5rem;
}

.fa-angle-up {
    position: absolute;
    bottom: 30px;
    display: flex;
    align-items: center;
    font-size: .8rem;
    padding-left: .5rem;
}

.action-text {
    font-size: .9rem;
}

/* MAIN */

main .speaker-view, main .maximize {
    position: fixed;
    top: .5rem;
    z-index: 999;
    background-color: #4a4a4a;
    padding: .3rem;
    border-radius: 10px;
}

.wrapper .speaker-view {
    right: 2.5rem;
}

.wrapper .maximize {
    right: 0;
}

.container {
    position: relative;
    overflow-y: auto;
    width: 100%;
    height: 100vh;
    margin: 0 auto;
}

.row {
    position: relative;
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    padding: 1rem;
    margin-top: 3rem;
}

.col {
    position: relative;
    width: calc(100% / 7 - 10rem / 7);
    margin: .2rem;
    margin-bottom: .4rem;
    min-width: 246px;
    min-height: 146px;
}

.col span {
    position: absolute;
    bottom: 5px;
    background-color: #4a4a4a91;
    padding: .3rem;
    font-size: .9rem;
}

/* FOOTER */

footer {
    display: flex;
    justify-content: space-between;
    position: absolute;
    bottom: 0;
    width: 100%;
    height: 8%;
    background-color: #222222;
    text-align: center;
}

.footer-container {
    position: relative;
    display: flex;
    padding: 1rem;
}

footer .large {
    display: flex;
    justify-content: center;
    flex-grow: 2;
}

footer .action {
    margin-right: 2rem;
}

.fa-share-from-square {
    color: #4bc800;
}

.footer-container.meeting {
    display: flex;
    align-items: center;
    text-align: center;
    background-color: #4a4a4a;
}

.footer-container.meeting span {
    color: red;
}